[Unit]
Description=WiFi Hotspot Service
After=network.target

[Service]
ExecStart=/home/pi/.cinemate-env/bin/python3 /home/pi/cinemate/services/wifi-hotspot/wifi-hotspot-service.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target