[Unit]
Description=WiFi Hotspot Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/cinemate/services/wifi-hotspot/wifi_hotspot_service.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target