[Unit]
Description=manual_controls_grove_base_hat

[Service]
ExecStart=/usr/bin/python3 /home/pi/cinemate2/manual_controls_grove_base_hat.py
WorkingDirectory=/home/pi/cinemate2
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

