rpi-lgpio
flask
flask_socketio
wave
pyaudio
sugarpie
redis
pyudev
Pillow
psutil
gpiozero
numpy
sugarpie
flask_socketio
termcolor
adafruit-blinka
adafruit-circuitpython-seesaw
adafruit-circuitpython-ssd1306
mkdocs-with-pdf==0.9.3
