[Unit]
Description=Cinemate Application Service
After=network.target

[Service]
ExecStart=/home/pi/.cinemate-env/bin/python3 /home/pi/cinemate/src/main.py
WorkingDirectory=/home/pi/cinemate
User=pi
Group=pi
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
