[Unit]
Description=Cinemate Application
After=network.target

[Service]
ExecStart=/home/pi/run_cinemate.sh
WorkingDirectory=/home/pi/cinemate/src
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target