[Unit]
Description=CFE HAT NVMe Automount
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/cfe-hat-automount
Restart=always
RestartSec=2
User=root

[Install]
WantedBy=multi-user.target
