[Unit]
Description=SSD Automount for /dev/%i
DefaultDependencies=no
Requires=local-fs.target
After=local-fs-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ssd-automount /dev/%i add
ExecStop=/usr/local/bin/ssd-automount /dev/%i remove
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
